/*linked CSS style sheet to index.html*/
/*Checked and working*/

body {
	text-align: center;
}

.top {
	height: 10vh;
}

.clicks {
	background: red;
	height: 10vh;
}

.gameboard {
	height: 60vh;
}

/*Keep and style, actually play area*/
/*#game {
	height: 50vh;
}*/

.score {
	background: red;
	height: 10vh;
}

.btn-danger {
	margin-top: 4vh;
}

.cell {
	height: 10vh;
	/*color code of med brown*/
	background: #805500;
	border: 1px solid black;
}

img {
	margin: auto;
	margin-top: 7vh;
	height: 10vh;
	width: 10vw;
	display: none;
} 






