/*Base Color for game Paletton #8A3465*/

body {
	text-align: center;	
}

.container {
	background-image: url('ethan-robertson-182542.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

#title {
	font-family: 'Alegreya', serif;
	font-size: 10vh;
}

.top {
	height: 10vh;
}

.clicks {
	background: rgba(203, 142, 177, 0.3);
	color: #4B052D;
	height: 10vh;
}

.gameboard {
	height: 60vh;
}

.score {
	background: rgba(203, 142, 177, 0.3);
	color: #4B052D;
	height: 10vh;
}

.btn-danger {
	margin-top: 4vh;


}

.cell {
	height: 10vh;
	background: #6D1B49;
	border: 1px solid black;
}

img {
	margin: auto;
	margin-top: 3vh;
	height: 4vh;
	width: 4vw;
	display: none;
} 






